<%- include("common/nav") -%>

    <body>
        <h1> login page</h1>
        <form method="post">
            <input type="text" name="Name" placeholder="name"> <br>
            <input type="email" name="Email" placeholder="email"> <br>
            <button type="submit">login</button>
        </form>

    </body>