<!DOCTYPE html>
<html lang="en">

<head>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
    </head>

<body>
    <h1> Profile page</h1>
    <h2>Welcome <%= name%> !!</h2>
</body>

</html>